yourname                   = "yourname"
location                   = "East US"
appliance_admin_password   = "ReplaceWithStrongPassword123!"
replication_admin_password = "ReplaceWithStrongPassword456!"
